@using System.Net.Http
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization


@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}



@inject OrganicOption.Service.NotificationService notificationService

@{
   
    var unreadCount = 0;

    if (userId != null)
    {
        unreadCount = notificationService.GetUnreadNotifications(userId).Count();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Organic Option</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="~/css/plugins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" />

    <script src="https://kit.fontawesome.com/238e4a8eca.js" crossorigin="anonymous"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

    <header class="header_area">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="top_right text-right">
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Organic Option</a></li>
                                @if (userRole == "SuperAdmin")
                                {
                                    <li><a asp-area="Admin" asp-controller="Role" asp-action="Index" class="nav-link">Role User</a></li>
                                }
                                @if (userRole == "Admin")
                                {
                                    <li><a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-link">Products</a></li>
                                }
                                @if (userRole == "Farmer")
                                {
                                    <li><a asp-area="Farmer" asp-controller="FarmerShop" asp-action="Index" class="nav-link">Manage Shop</a></li>
                                }
                                @if (userRole == "Rider")
                                {
                                    <li><a asp-area="Rider" asp-controller="RiderDelivery" asp-action="Index" class="nav-link">Manage Ride</a></li>
                                }
                                @if (userRole == "Customer")
                                {
                                   
                                    <li class="nav-item"> <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> (@count) Cart</a></li>
                                
                                }
                               

                                <li class="nav-item">
                                    <a class="nav-link text-dark" 
                                       asp-area="Customer" asp-controller="Notifications" asp-action="Latest">
                                        <i class="fas fa-bell"></i>
                                        <span class="notification-icon">
                                            @if (unreadCount > 0)
                                            {
                                                <span class="badge" id="notification-count">@unreadCount</span>
                                            }
                                        </span>
                                    </a>
                                </li>
                            
                            
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="top_right text-right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-dribbble"></i> @CultureInfo.CurrentCulture.TwoLetterISOLanguageName
                                        <i class="zmdi zmdi-caret-down"></i>
                                    </a>
                                    <ul class="dropdown_language">
                                        <li>
                                            <a asp-area="Customer" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="en" asp-route-returnUrl="@Uri.EscapeDataString(HttpContextAccessor.HttpContext.Request.Path + HttpContextAccessor.HttpContext.Request.QueryString)">
                                                English
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Customer" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="bn" asp-route-returnUrl="@Uri.EscapeDataString(HttpContextAccessor.HttpContext.Request.Path + HttpContextAccessor.HttpContext.Request.QueryString)">
                                                Bangla
                                            </a>
                                        </li>
                                    </ul>

                                   @*  <ul class="dropdown_language">
                                        <li><a href="#" onclick="setLanguageAndReload('en');">English</a></li>
                                        <li><a href="#" onclick="setLanguageAndReload('bn');">Bangla</a></li>
                                    </ul> *@

                                </li>



                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="top_links">
                                        <a href="/Customer/UserProfile/Deshboard/@userId" title="Manage">
                                            <i class="zmdi zmdi-account"></i> My Account
                                            <i class="zmdi zmdi-caret-down"></i>
                                        </a>
                                        <ul class="dropdown_links">
                                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Cart">Checkout </a></li>
                                            <li><a href="/Customer/UserProfile/Deshboard/@userId" title="Manage"> <i class="fa-solid fa-user"></i>  @UserManager.GetUserName(User)</a></li>
                                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Cart">Shopping Cart</a></li>
                                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Cart">Wishlist</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                            <button type="submit" class="btn">Logout</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                                    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="footer_widgets">
            <div class="container">
                <div class="footer_top">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="widgets_container contact_us">
                                <div class="footer_contact">
                                    <ul>
                                        <li><i class="zmdi zmdi-home"></i><span>Address:</span> Gazipur Dhaka</li>
                                        <li><i class="zmdi zmdi-phone-setting"></i><span>Phone:</span><a href="tel:(+88) 01568105212">(+88) 1985119290</a></li>
                                        <li><i class="zmdi zmdi-email"></i><span>Email:</span> OrganicOption@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="social_icone">
                                    <ul>
                                        <li class="share">
                                            <a href="https://www.instagram.com/aminul_islam_122/?hl=en" title="youtube"><i class="fa fa-share-alt"></i></a>
                                            <div class="social_title">
                                                <p>Subscribe</p>
                                                <h3></h3>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa fa-instagram fs-2"></i>
                                            <a href="https://www.instagram.com/aminul_islam_122/?hl=en" title="instagram"> Instagram <i class="fa fa-instagram"></i></a>
                                            <div class="social_title">
                                                <p>Follow Us</p>
                                                <h3>Instagram</h3>
                                            </div>
                                        </li>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/aminulislamniloy122/" title="facebook"><i class="fa fa-facebook"></i></a>
                                            <div class="social_title">
                                                <p>Find Us</p>
                                                <h3>Facebook</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa-brands fa-github fs-2"></i>
                                            <a href="https://github.com/aminul-islam-niloy" title="Github">Github <i class="fa-brands fa-github"></i></a>
                                            <div class="social_title">
                                                <p>Find Us</p>
                                                <h3>Github</h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-7">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="widgets_container widget_menu">
                                        <h3>CUSTOMER SERVICE</h3>
                                        <div class="footer_menu">
                                            <ul>
                                                <li><a>Shipping & Returns</a></li>
                                                <li><a> Secure Shopping</a></li>
                                                <li><a>International Shipping</a></li>
                                                <li><a> Affiliates</a></li>
                                                <li><a> Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="widgets_container widget_menu">
                                        <h3>INFORMATION</h3>
                                        <div class="footer_menu">
                                            <ul>
                                                <li><a href="#">Our Stores</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Orders & Returns</a></li>
                                                <li><a href="#">Terms & Conditions</a></li>
                                                <li><a href="#"> Careers</a></li>
                                                <li><a href="#"> FAQ & Information</a></li>
                                                <li><a href="#"> About Us</a></li>
                                                <li><a href="#"> Corporate Sales</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widgets_container newsletter">
                             @*    <h3>Follow Us</h3>
                                <div class="footer_social_link">
                                    <ul>
                                        <li><a href="https://www.facebook.com/aminulislamniloy122/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com/aminul_islam_122/?hl=en" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://youtube.com" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="https://pinterest.com" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://vimeo.com" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div> *@

                            
                            @*     <div class="subscribe_form">
                                    <h3>Subscribe</h3>
                                    <form id="mc-form" class="mc-form footer-newsletter" method="post" action="#">
                                        <input type="email" name="EMAIL" id="mc-email" placeholder="Your email address..." />
                                        <button type="submit" class="btn">Subscribe</button>
                                        <div class="mailchimp-alerts">
                                            <div class="mailchimp-submitting"></div>
                                            <div class="mailchimp-success"></div>
                                            <div class="mailchimp-error"></div>
                                        </div>
                                    </form>
                                </div> *@
                                <div class="download-app ">
                                    <div class="widgets_container widget_menu ">
                                        <h3 style="text-align:center;margin-bottom:5px">Payment Methods</h3>
                                    </div>
                                   <br />
                                    <img src="~/img/icon/payment methods.jpg" alt="image" />
                                </div>

                                <div class="download-app ">
                                 
                                    <br />
                                    <img src="~/img/icon/image_processing20200909-20748-f9rqiw.jpg" alt="image" style="height:150px; width:100%" />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

 



    <script>
        function updateLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Update the form fields with the current location
                    document.getElementById('latitude').value = latitude;
                    document.getElementById('longitude').value = longitude;

                    // Submit the form
                    document.getElementById('update-location-form').submit();
                }, function (error) {
                    console.error('Error getting location:', error);
                    alert('Failed to get location.');
                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }
    </script>



    <environment include="Development">
        <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    <script>
        $(document).ready(function () {
            console.log("Document is ready");

            let userInteracted = false;

            function enableSound() {
                console.log("User interaction detected");
                userInteracted = true;
                document.removeEventListener('click', enableSound);
                document.removeEventListener('keypress', enableSound);
            }

            document.addEventListener('click', enableSound);
            document.addEventListener('keypress', enableSound);


            function checkForNewNotifications() {
                console.log("Checking for new notifications");
                if (!userInteracted) {
                    console.log("Waiting for user interaction to enable sound");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("GetUnreadNotificationCount", "Notifications")',
                    method: 'GET',
                    success: function (data) {
                        console.log("Successfully fetched unread notification count:", data);
                        var currentCount = parseInt($("#notification-count").text());
                        if (data > currentCount) {
                            $("#notification-count").text(data);
                            var audio = $("#notification-sound")[0];
                            audio.play().then(() => {
                                console.log("Sound played successfully");
                            }).catch(function (error) {
                                console.log("Error playing sound:", error);
                            });
                        }
                    },
                    error: function (error) {
                        console.log("Error fetching notifications:", error);
                    }
                });
            }
        });
    </script>

    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
       
        function setLanguageAndReload(culture) {
        
            document.cookie = `Culture=${culture}; path=/;`;

            location.reload();
        }
    </script>
    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.1/js/jquery.dataTables.min.js"></script>
        <script src="~/js/plugins.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
