@model IEnumerable<OrganicOption.Models.WithdrawalHistory>

<div class="container mt-3" >
    <h4 class="text-center mt-2 mb-2" style="font-size:20px">Withdrawal Requests</h4>

    <table class="table table-responsive" id="myTable">
        <thead>
            <tr>
                <th>User</th>
                <th>Amount</th>
                <th>Request Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    @* <td>@request.User?.UserName</td>  *@
                    <td>@request.UserId</td>
                    <td>@request.Amount</td>
                    <td>@request.RequestDate</td>
                    <td>
                        @if (!request.IsApproved)
                        {
                            <form asp-action="ApproveWithdraw" method="post">
                                <input type="hidden" name="id" value="@request.Id" />
                                <button type="submit" class="btn btn-warning">Approve</button>
                            </form>
                        }
                        else if (!request.IsConfirmed)
                        {
                            <form asp-action="ConfirmWithdraw" method="post">
                                <input type="hidden" name="id" value="@request.Id" />
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </form>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success">Completed</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize DataTable on the table element
            $('#myTable table').DataTable();
        });
    </script>
}