@model IEnumerable<OrganicOption.Models.WithdrawalHistory>
<br />
<div class="container">
    <h3 class="text-center mb-2">Admin Total Revenue: @ViewBag.TotalRevenue ৳</h3>

    <h5 class="text-center">Confirmed Withdrawals in @DateTime.Now.ToString("MMMM yyyy")</h5>
    <br />

    <div class="d-flex justify-content-end mb-3">
        <a href="@Url.Action("AdminViewWithdrawals", "Wallet")" class="btn btn-primary">Manage Withdraw</a>
        <a style="margin-left:7px" asp-area="Customer" asp-controller="Order" asp-action="CardOrders" class="btn btn-info">Manage Card Orders</a>
        <a style="margin-left:7px" asp-area="Customer" asp-controller="Order" asp-action="CashOrders" class="btn btn-primary">Cash On Delivary</a>
        <a style="margin-left:7px" asp-area="User" asp-controller="Deshboard" asp-action="PayableRidersDue" class="btn btn-warning">Rider Due List</a>
    
    </div>


    @if (!Model.Any())
    {
        <p>No confirmed withdrawals for this month.</p>
    }
    else
    {
        <div class="table table-responsive" id="myTable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Confirmed By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td>@request.ConfirmDate?.ToString("dd-MM-yyyy")</td>
                            <td><a asp-action="Details" asp-controller="User" asp-area="Customer" asp-route-id="@request.UserId">@request.UserId </a> </td>
                            <td>@request.UserType</td>
                            <td>@request.Amount ৳ </td>
                            <td><a asp-action="Details" asp-controller="User" asp-area="Customer" asp-route-id="@request.AdminId">@request.AdminId </a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable table').DataTable();
        });
    </script>
}