@model IEnumerable<OrganicOption.Models.WithdrawalHistory>
<br />
<div class="container">
    <h3 class="justify-content-center text-center">Admin Total Revenue : @ViewBag.TotalRevenue ৳
    </h3>
    <br />
    <h4 class="justify-content-center text-center">Confirmed Withdrawals in @DateTime.Now.ToString("MMMM yyyy")</h4>
    <br />

    <a href="@Url.Action("AdminViewWithdrawals", "Wallet")" style="margin-left:110px" class="btn btn-primary">Manage Withdraw</a>
    <br />
    @if (!Model.Any())
    {
        <p>No confirmed withdrawals for this month.</p>
    }
    else
    {
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Confirmed By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.ConfirmDate?.ToString("dd-MM-yyyy")</td>
                        <td>@request.UserId</td>
                        <td>@request.UserType</td>
                        <td>@request.Amount ৳ </td>
                        <td>@request.AdminId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
