@model OrganicOption.Models.FarmerShop

<br />

<div class="container">
 
        <div class="row">
            <!-- Left Section: Shop Cover Photo -->
            <div class="col-md-8 mb-4">
                @if (Model.CoverPhoto != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.CoverPhoto)" class="img-fluid rounded" alt="Cover Photo" />
                }
                else
                {
                    <p>No cover photo available</p>
                }
            </div>

            <!-- Right Section: Shop Information -->
            <div class="col-md-4 mb-4">
                <h3 class="mb-3">@Model.ShopName</h3>
                <h4 class="mb-3">@Model.ContractInfo</h4>
                <p><strong>Open Status:</strong> @(Model.IsShopOpen ? "Open" : "Closed")</p>
                <h4 class="mb-3">Total Revenue: @Model.ShopRevenue</h4>
                <a href="@Url.Action("Wallet", "Inventory")" class="btn btn-primary mb-3">My Wallet</a>
            <form asp-action="EditOpenStatus" method="post">
       
                <input type="hidden" name="IsShopOpen" value="false" />

                <label class="switch">
                    <input type="checkbox" name="IsShopOpen" value="true" @(Model.IsShopOpen ? "checked" : "") />
                    <span class="slider round"></span>
                </label>

                <input type="hidden" name="Id" value="@Model.Id" />
                <button type="submit" class="btn btn-primary mt-3">Save</button>
            </form>

            </div>

        </div>


        <div class="row">
            <div class="col-md-6 mb-4">
                <h4>Shop Management</h4>
                <a asp-action="Edit" asp-controller="FarmerShop" class="btn btn-warning mb-2" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Delete" asp-controller="FarmerShop" class="btn btn-danger mb-2" asp-route-id="@Model.Id">Delete</a>
                <a class="btn btn-warning mb-3" href="@Url.Action("Shop", "FarmerShop", new { area = "Farmer", shopId = @Model.Id })">Products in Shop</a>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Other Information</h4>
                <a asp-action="Index" asp-area="Farmer" asp-controller="Inventory" class="btn btn-info mb-2">Manage Inventory</a>
                <a asp-action="AllOrdersGroupedByDate" asp-area="Farmer" asp-controller="Inventory" class="btn btn-success mb-2">Manage Orders</a>
                <a asp-action="ShowAllProductsByTime" asp-area="Farmer" asp-controller="Inventory" class="btn btn-warning mb-2">Products by Time</a>
                
            </div>
        </div>


    <a asp-action="AddProduct" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Product</a>
    <div class="table-responsive">
        <table class="table table-bordered mt-3" id="myTable">
            <thead>
                <tr class="table-info">
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Preservation?</th>
                    <th>Quantity</th>
                    <th>Expire On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products != null)
                {
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td><img src="~/@item.Image" style="max-width: 50px; max-height: 50px;" /></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.IsAvailable</td>
                            <td>@item.PreservationRequired</td>
                            <td>@item.Quantity @item.QuantityType</td>

                            @{
                                TimeSpan difference = item.ExpirationTime - DateTime.Now;
                                int d = (int)difference.TotalDays;
                                int hours = difference.Hours;
                                int minutes = difference.Minutes;
                                int seconds = difference.Seconds;
                            }
                            <td>@d D @hours H @minutes Min</td>
                            <td style="width: 150px">
                                <div class="btn-group">
                                    <a asp-action="EditProduct" class="btn btn-primary" asp-controller="FarmerShop" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="ProductDetails" class="btn btn-success" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                                    <a asp-action="ProductDelete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">No products available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 </div>



