@model OrganicOption.Models.ShopViewModel



<div class="container mt-4">
    <div class= "  row" >
        @if (Model.FarmerShop.CoverPhoto != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.FarmerShop.CoverPhoto)" class="img-fluid" alt="Cover Photo" style=" border-radius:10px; width:1200px;height:300px" />
        }
        else
        {
            <p>No cover photo available</p>
        }
        <div class="col-md-4 mt-30">
            <h3>@Model.FarmerShop.ShopName</h3>
            <h4> Phone: @Model.FarmerShop.ContractInfo</h4>
            <p><strong>Shop is :</strong> @(Model.FarmerShop.IsShopOpen ? "Open" : "Closed")</p>
        </div>

        <div class="col-md-3 mt-30">
            <h4>Shop Address</h4>
            @if (Model.FarmerShop.ShopAddress != null)
            {
                <div style="margin-left:40px">
                    <label for="House">House:</label>
                    <span id="House">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.House)</span><br />

                    <label for="StreetNo">Street No:</label>
                    <span id="StreetNo">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.StreetNo)</span><br />

                    <label for="WardNo">Ward No:</label>
                    <span id="WardNo">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.WardNo)</span><br />

                </div>
            }
            else
            {
                <p>No address available</p>
            }
        </div>

        <div class="col-md-3 mt-30">
          
            @if (Model.FarmerShop.ShopAddress != null)
            {
                <div style="margin-left:40px">

                    <label for="Thana">Thana:</label>
                    <span id="Thana">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.Thana)</span><br />

                    <label for="District">District:</label>
                    <span id="District">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.District)</span><br />

                    <label for="Division">Division:</label>
                    <span id="Division">@Html.DisplayFor(modelItem => Model.FarmerShop.ShopAddress.Division)</span><br />
                </div>
            }


        </div>

        <div class="col-md-2 mt-30">
            <p><strong> Rating:</strong> @Model.FarmerShop.OverallRating ( @Model.FarmerShop.TotalReviews reviews)</p>
            <div>
                @{
                    double rating = Model.FarmerShop.OverallRating;
                    int fullStars = (int)rating;
                    double halfStarThreshold = rating - fullStars;
                    int emptyStars = 5 - fullStars - (halfStarThreshold >= 0.5 ? 1 : 0);

                    for (int i = 0; i < fullStars; i++)
                    {
                        <i class="fa fa-star"></i>
                    }

                    if (halfStarThreshold >= 0.5)
                    {
                        <i class="fa fa-star-half-o"></i>
                    }

                    for (int i = 0; i < emptyStars; i++)
                    {
                        <i class="fa fa-star-o"></i>
                    }
                }
            </div>
        </div>

    </div>
</div>



<!--deals product section area start-->
<section class="deals_product_section mb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Shop <span>Products</span></h2>
                </div>
                <div class="deals_product_inner">
                    <div class="deals_tab_list deals_tab_two">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#Fruits" role="tab" aria-controls="Fruits" aria-selected="true">
                                    <i class="fa-solid fa-apple-whole"></i>
                                    <h3>Fruits</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Vegetable" role="tab" aria-controls="Vegetable" aria-selected="false">
                                    <i class="fa-solid fa-carrot"></i>
                                    <h3>Vegetable</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Dairy" role="tab" aria-controls="Dairy" aria-selected="false">
                                    <i class="fa-solid fa-egg"></i>
                                    <h3>Dairy</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Pets" role="tab" aria-controls="Pets" aria-selected="false">
                                    <i class="fa-solid fa-crow"></i>
                                    <h3>Pets</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Fish" role="tab" aria-controls="Fish" aria-selected="false">
                                    <i class="fa-solid fa-fish"></i>
                                    <h3>Fish  </h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Cattle" role="tab" aria-controls="Cattle" aria-selected="false">
                                    <i class="fa-solid fa-cow"></i>
                                    <h3>Cattle</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Meat" role="tab" aria-controls="Meat" aria-selected="false">
                                    <i class="fa-solid fa-drumstick-bite"></i>
                                    <h3>Meat</h3>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Crops" role="tab" aria-controls="Crops" aria-selected="false">
                                    <i class="fa-solid fa-cannabis"></i>
                                    <h3>Crops</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="deals_product_wrapper">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="Fruits" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Fruits)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%;  border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>
                                             
                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        
                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Vegetable" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Vegetable)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Dairy" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Dairy)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Pets" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Pets)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Fish" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Fish)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px; " alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Cattle" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Cattle)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Meat" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Meat)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Crops" role="tabpanel">
                                <div class="deals_product_carousel deals_product_column2 owl-carousel">
                                    @foreach (var product in Model.Crops)
                                    {
                                        <div class="single_deals_product">
                                            <div class="product_thumb">
                                                <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id"><img src="~/@product.Image" style="height: 320px; width: 60%; border-top:5px;" alt="Card Image"></a>
                                                <div class="label_product">
                                                    <span class="label_sale">sale</span>
                                                </div>
                                                <div class="product_timing">
                                                    <div class="alarm_icone">
                                                        <i class="zmdi zmdi-timer"></i>
                                                    </div>
                                                    <div data-countdown="2024/8/31"></div>
                                                </div>
                                            </div>
                                            <div class="product_content mt-5">
                                                <div class="product_name">
                                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                                </div>

                                                <div class="price_box">
                                                    <span class="current_price"> @product.Price ৳ </span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>

                                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--deals product section area end-->
<!--banner area start-->
<div class="banner_area banner_column2 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a asp-area="" asp-controller="Home" asp-action="Products"> <img src="~/img/bg/fish.png" alt="" style="height:230px"></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a asp-area="" asp-controller="Home" asp-action="Products"><img src="~/img/bg/vegetable.jpg" style="height:230px" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--banner area end-->
<section class="new_product_area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>New <span>Products</span></h2>
                </div>
            </div>
        </div>
        <div class="new_product_two_container">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-12">
                    <div class="single_banner" >
                        <div class="banner_thumb">
                            <a asp-area="" asp-controller="Home" asp-action="Products"><img src="~/img/bg/new Products.jpg" alt="" style="height:415px"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="product_carousel product_column3 owl-carousel">
                        @foreach (var product in Model.FarmerShop.Products)
                        {
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@product.Id">
                                        <img src="~/@product.Image" alt="product image" class="card-img-top" style="height: 250px; width: 100%; object-fit: cover;border-top:10px; border-top-left-radius: 5px; border-top-right-radius: 5px;" />
                                    </a>
                                    <div class="label_product">
                                        <span class="label_sale">sale</span>
                                    </div>
                                    <div>
                                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view"> </a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_name">
                                        <h3><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a></h3>
                                    </div>
                                   
                                    <div class="price_box">
                                        <span class="current_price"> @product.Price ৳</span>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                           
                                            <li class="add_to_cart"><a asp-action="Detail" asp-area="Customer" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<hr />

<div class="container">
<h4>Shop Review and Rating</h4>

@if (Model.ShopReviews != null && Model.ShopReviews.Any())
{
    @foreach (var review in Model.ShopReviews)
    {
        <div class="review">
            <div class="review-header">
                <div class="profile-photo">
                    @review.UserName
                </div>
                <div class="review-info">
                    <h4 style="margin:5px">@review.UserName</h4>
                    <span>@review.ReviewDate.ToString()</span>
                </div>
            </div>
            <div class="stars ">
                @for (int i = 0; i < review.Rating; i++)
                {
                    <label>&#9733;</label>
                }
                @for (int i = review.Rating; i < 5; i++)
                {
                    <label style="color: #ccc;">&#9733;</label>
                }
            </div>
            <p>@review.Comment</p>
        </div>
    }
}
else
{
    <p>No reviews yet.</p>
}
</div>

<style>
   

    .review {
        padding: 10px;
        margin-left:20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .review-header {
        display: flex;
        align-items: center;
        margin-left:15px;
    }

    .profile-photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #1ec354;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.0em;

    }

    .review-info {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }

        .review-info h4 {
            margin: 0;
            font-size: 1.2em;
        }

        .review-info span {
            font-size: 0.9em;
            color: #888;
        }

    .stars {
        display: flex;
         margin: 10px 0; 
        margin-left:20px;
    }

        .stars label {
            font-size: 1.5em;
            color: #f39c12;
        }
</style>