@using System.Net.Http
@using Newtonsoft.Json
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization


@inject IHttpContextAccessor HttpContextAccessor
@{

    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}



@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
}




<div id="content">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a asp-area="User" asp-controller="Deshboard" asp-action="Edit" asp-route-id="@userId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa-regular fa-pen-to-square text-white-50"></i> Edit Profile

            </a>
        </div>

        <div class="row">

            @if (User.IsInRole("Customer"))
            {
                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Cart" class="card-link">
                        <div class="card border-left-primary shadow h-100 py-2" style="border-left-color: #007bff;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Cart <span style="color:#c14b4b">@count</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-shopping-cart fa-2x" style="color: #FF6347;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="User" asp-controller="Deshboard" asp-action="Index" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2" style="border-left-color: #28a745;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Orders</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-truck fa-2x" style="color: #20c997;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="Favorites" asp-action="FavoriteShop" class="card-link">
                        <div class="card border-left-danger shadow h-100 py-2" style="border-left-color: #dc3545;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Favorite</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-heart fa-2x" style="color: #e83e8c;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="user" asp-controller="Deshboard" asp-action="MyAccount" asp-route-id="@userId" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2" style="border-left-color: #17a2b8;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Account</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x" style="color: #28a745;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

            @if (User.IsInRole("Rider"))
            {

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="DeliveredOrders" asp-route-period="daily" class="card-link">
                        <div class="card border-left-primary shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            This Month
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.CurrentMonthTotalRevenue</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="Rider" asp-action="RiderDashboard" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Wallet
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.TotalRevenue</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-bangladeshi-taka-sign fa-2x text-gray-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="Index" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Delivary
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.CurrentMonthTotalDeliveries</div>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-300"> This Month</div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="Rider" asp-action="Index" class="card-link">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Ride Setting
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Ride</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-truck fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }


            @if (User.IsInRole("Farmer"))
            {

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Farmer" asp-controller="Inventory" asp-action="AllOrdersGroupedByDate" class="card-link">
                        <div class="card border-left-primary shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            This Month
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.CurrentMonthRevenue</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-action="Wallet" asp-controller="Inventory" asp-area="Farmer" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Wallet
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳  @ViewBag.TotalRevenue </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-bangladeshi-taka-sign fa-2x text-gray-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Farmer" asp-controller="Inventory" asp-action="Index" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            WareHouse
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold " style="color: #20c997;"> Inventory </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-warehouse fa-2x " style="color: #20c997;"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Farmer" asp-controller="FarmerShop" asp-action="Index" class="card-link">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Manage Shop
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Shop</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-shop fa-2x text-primary-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }


            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {

                @if (User.IsInRole("Admin"))
                {

                    <div class="col-xl-3 col-md-6 mb-4">
                        <a asp-area="Customer" asp-controller="Order" asp-action="AllOrders" class="card-link">
                            <div class="card border-left-primary shadow h-100 py-2 ">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                This Month
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.CurrentMonthRevenue </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (User.IsInRole("SuperAdmin"))
                {

                    <div class="col-xl-3 col-md-6 mb-4">
                        <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="card-link">
                            <div class="card border-left-primary shadow h-100 py-2 ">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Set UserRole
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Role User</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-hammer fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-action="AdminViewWithdrawals" asp-controller="Wallet" asp-area="Admin" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Total Revenue
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.AdminTotalRevenue </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-bangladeshi-taka-sign fa-2x text-gray-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Admin" asp-controller="Wallet" asp-action="AllWithdrawals" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Withdraw Manage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold " style="color: #20c997;"> Accounts </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-file-invoice fa-2x " style="color: #20c997;"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="User" asp-action="Index" class="card-link">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            User Role
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Manage User</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-regular fa-user fa-2x text-primary-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }



        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="row mb-2 text-right justify-content-end" style="gap: 10px; margin-right:10px">
                <div class="card-container">
                    <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="card custom-card soft-bg">
                        <i class="fas fa-boxes"></i>
                        <span>Products</span>
                    </a>

                    <a asp-area="Admin" asp-controller="ProductTypes" asp-action="Index" class="card custom-card soft-bg">
                        <i class="fas fa-list"></i>
                        <span>Category</span>
                    </a>

                    <a asp-area="Admin" asp-controller="SpecialTag" asp-action="Index" class="card custom-card soft-bg">
                        <i class="fas fa-tags"></i>
                        <span>Sub Category</span>
                    </a>

                    <a asp-area="Customer" asp-controller="Order" asp-action="AllOrders" class="card custom-card soft-bg">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>All Orders</span>
                    </a>

                    <a asp-area="Customer" asp-controller="User" asp-action="Index" class="card custom-card soft-bg">
                        <i class="fas fa-users"></i>
                        <span>All User</span>
                    </a>

                    <a asp-area="Customer" asp-controller="Blog" asp-action="BlogManager" class="card custom-card soft-bg">
                        <i class="fas fa-blog"></i>
                        <span>Blog Manage</span>
                    </a>

                    <a asp-area="Admin" asp-controller="ProductPrice" asp-action="Index" class="card custom-card soft-bg">
                        <i class="fas fa-dollar-sign"></i>
                        <span>Product Price</span>
                    </a>

                    <a asp-action="Index" asp-area="Customer" asp-controller="Feedback" class="card custom-card soft-bg">
                        <i class="fas fa-comments"></i>
                        <span>Feedback</span>
                    </a>

                    <a asp-action="SetDiscount" asp-area="Admin" asp-controller="Products" class="card custom-card soft-bg">
                        <i class="fas fa-percentage"></i>
                        <span>Set Discount</span>
                    </a>

                    <a asp-action="Riders" asp-area="User" asp-controller="Deshboard" class="card custom-card soft-bg">
                        <i class="fa-solid fa-motorcycle"></i>
                        <span>All Riders</span>
                    </a>

                    <a asp-action="Farmers" asp-area="User" asp-controller="Deshboard" class="card custom-card soft-bg">
                        <i class="fa-solid fa-hat-cowboy"></i>
                        <span>All Farmers</span>
                    </a>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin"))
        {
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Admin Revenue</h6>
                    </div>
                    <div class="card-body">

                        <h6>Current Month Revenue: <span id="currentMonthRevenue"></span></h6>

                        <h6>Monthly</h6>
                        <div class="chart-area">
                            <canvas id="AdminRevenueChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        }
        @if (User.IsInRole("SuperAdmin"))
        {
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Admin Revenue</h6>
                    </div>
                    <div class="card-body">

                        <h6>Current Month Revenue: <span id="currentMonthRevenue"></span></h6>

                        <h6>Monthly</h6>
                        <div class="chart-area">
                            <canvas id="AdminRevenueChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        }




        @if (User.IsInRole("Farmer"))
        {
            <div class="row mb-2 text-right justify-content-end" style="gap: 10px; margin-right:12px">
                <a asp-area="Farmer" asp-controller="FarmerShop" asp-action="AddProduct" class="nav-link btn  btn-primary">
                    <i class="fa-solid fa-plus"></i> Add Product
                </a>
                <a asp-area="Farmer" asp-controller="Inventory" asp-action="RequestWithdraw" class="nav-link btn  btn-info">
                    <i class="fa-solid fa-money-bill-transfer"></i>  Withdraw
                </a>
                <a asp-area="Admin" asp-controller="ProductPrice" asp-action="TodayPrice" class="nav-link btn  btn-success">
                    <i class="fa-solid fa-money-check-dollar"></i>  Daily Price
                </a>
                <a asp-area="Farmer" asp-controller="Inventory" asp-action="ShowAllProductsByTime" class="nav-link btn  btn-warning">
                    <i class="fa-regular fa-clock"></i> Product Time
                </a>
                <a asp-area="Farmer" asp-controller="FarmerShop" asp-action="Edit" asp-route-id="@ViewBag.ShopId" class="nav-link btn  btn-secondary">
                    <i class="fa-solid fa-pen-to-square"></i> Edit Shop
                </a>
            </div>



            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Farmer Performance</h6>
                    </div>
                    <div class="card-body">
                        <h5>Total Revenue: @ViewBag.TotalRevenue</h5>

                        <div class="chart-container" style="position: relative;  height:40vh;">
                            <canvas id="revenueChart"></canvas>
                        </div>

                        <div class="chart-container" style="position: relative; height:40vh; ">
                            <canvas id="performanceChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>


        }


        @if (User.IsInRole("Rider"))
        {
            <div class="row mb-2 text-right justify-content-end" style="gap: 10px; margin-right:12px">
                <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="Index" class="nav-link btn  btn-primary">
                    <i class="fa-solid fa-wrench"></i> Manage Delivary
                </a>
                <a asp-area="Rider" asp-controller="Rider" asp-action="RequestWithdraw" class="nav-link btn  btn-info">
                    <i class="fa-solid fa-money-bill-transfer"></i>  Withdraw
                </a>
                <a asp-area="Rider" asp-controller="Rider" asp-action="EditRider" class="nav-link btn  btn-secondary">
                    <i class="fa-solid fa-pen-to-square"></i> Edit Info
                </a>
            </div>



            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Rider Dashboard</h6>
                    </div>
                    <div class="card-body">
                        <h5>Total Revenue: @ViewBag.TotalRevenue</h5>

                        <h6>Monthly Deliveries</h6>
                        <div class="chart-area">
                            <canvas id="riderDeliveriesChart"></canvas>
                        </div>

                        <h6>Monthly Revenue</h6>
                        <div class="chart-area">
                            <canvas id="riderRevenueChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>


        }

        @if (User.IsInRole("Customer"))
        {

            var orders = ViewBag.Orders as List<UserOrdersViewModel>;


            @if (orders != null && orders.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Products info</th>
                            <th>Condition</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td>@order.OrderNo</td>
                                <td>@order.OrderDate</td>
                                <td>@order.TotalPrice</td>
                                <td>
                                @foreach (var orderDetail in order.OrderDetails)
                                {
                                    @orderDetail.ProductName 
                                
                                   
                               
                                }
                                </td>
                                <td>@order.OrderCondition</td>
                                <td><a asp-action="OrderDetails" asp-area="User" asp-controller="Deshboard" asp-route-id="@order.OrderId">Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No orders found.</p>
            }

        }





    </div>
</div>

<style>
    .card-link {
        text-decoration: none;
        color: inherit;
    }

        .card-link .card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .custom-btn {
        font-size: 1.0em;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
    }

        .custom-btn i {
            margin-right: 8px;
            font-size: 1.4em;
        }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left:20px;
    }

    .custom-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 160px; 
        height: 90px;
        text-decoration: none;
        color: #333;
        transition: all 0.3s ease;
        flex-shrink: 0; 
    }

        .custom-card i {
            font-size: 1.5em;
        }

        .custom-card:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            transform: translateY(-2px);
        }

        .custom-card span {
            font-size: 1em;
            font-weight: 600;
        }

    .soft-bg:nth-child(1) {
        background-color: #e0f7fa; /* Soft cyan */
    }

    .soft-bg:nth-child(2) {
        background-color: #fce4ec; /* Soft pink */
    }

    .soft-bg:nth-child(3) {
        background-color: #e8f5e9; /* Soft green */
    }

    .soft-bg:nth-child(4) {
        background-color: #fff3e0; /* Soft orange */
    }

    .soft-bg:nth-child(5) {
        background-color: #ede7f6; /* Soft purple */
    }

    .soft-bg:nth-child(6) {
        background-color: #f3e5f5; /* Soft lavender */
    }

    .soft-bg:nth-child(7) {
        background-color: #ffebee; /* Soft red */
    }

    .soft-bg:nth-child(8) {
        background-color: #e3f2fd; /* Soft blue */
    }

    .soft-bg:nth-child(9) {
        background-color: #ffecb3; /* Soft yellow */
    }

    .soft-bg:nth-child(10) {
        background-color: #dcedc8; /* Soft light green */
    }

    .soft-bg:nth-child(11) {
        background-color: #f9fbe7; /* Soft pale yellow-green */
    }

   

</style>

@if (User.IsInRole("Rider"))
{

    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Extract labels and data
        var labels = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (string)p.MonthName)));
        var completedDeliveries = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (int)p.CompletedDeliveries)));
        var earnedRevenue = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (decimal)p.EarnedRevenue)));

        // Completed Deliveries Chart
        var ctxDeliveries = document.getElementById("riderDeliveriesChart").getContext("2d");
        var deliveriesChart = new Chart(ctxDeliveries, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Completed Deliveries",
                    data: completedDeliveries,
                    borderColor: "#4e73df",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

        // Earned Revenue Chart
        var ctxRevenue = document.getElementById("riderRevenueChart").getContext("2d");
        var revenueChart = new Chart(ctxRevenue, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Earned Revenue",
                    data: earnedRevenue,
                    borderColor: "#1cc88a",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>
    }
}



@if (User.IsInRole("Farmer"))
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Extract labels and data for the Farmer
        var performanceData = @Html.Raw(JsonConvert.SerializeObject((IEnumerable<dynamic>)ViewBag.Performance));

        // Extract labels and data
        var labels = performanceData.map(p => p.MonthName);
        var soldProducts = performanceData.map(p => p.SoldProducts);
        var earnedRevenue = performanceData.map(p => p.EarnedRevenue);

        // Revenue Chart
        var ctxRevenue = document.getElementById("revenueChart").getContext("2d");
        var revenueChart = new Chart(ctxRevenue, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Earned Revenue",
                    data: earnedRevenue,
                    borderColor: "#1cc88a",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

        // Performance Chart
        var ctxPerformance = document.getElementById("performanceChart").getContext("2d");
        var performanceChart = new Chart(ctxPerformance, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Order Sold",
                        data: soldProducts,
                        backgroundColor: "#4e73df",
                        borderColor: "#4e73df",
                        borderWidth: 1,
                        fill: true,
                        barThickness: 40
                    },
                    {
                        label: "Earned Revenue",
                        data: earnedRevenue,
                        backgroundColor: "#1cc88a",
                        borderColor: "#1cc88a",
                        borderWidth: 1,
                        fill: true,
                        barThickness: 40
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>
    }
}

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        var monthlyRevenue = @Html.Raw(JsonConvert.SerializeObject(ViewBag.MonthlyRevenue));

        var labels = Object.keys(monthlyRevenue);
        var revenueData = Object.values(monthlyRevenue);

        // Admin Revenue Chart
        var ctxAdminRevenue = document.getElementById("AdminRevenueChart").getContext("2d");
        var adminRevenueChart = new Chart(ctxAdminRevenue, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Monthly Revenue",
                    data: revenueData,
                    borderColor: "#1cc88a",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

        document.getElementById('currentMonthRevenue').innerText = @ViewBag.CurrentMonthRevenue;
    </script>
    }

}
