@using System.Net.Http
@using Newtonsoft.Json
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization


@inject IHttpContextAccessor HttpContextAccessor
@{

    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}



@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
}




<div id="content">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a asp-area="User" asp-controller="Deshboard" asp-action="Edit" asp-route-id="@userId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa-regular fa-pen-to-square text-white-50"></i> Edit Profile

            </a>
        </div>

        <div class="row">

            @if (User.IsInRole("Customer"))
            {
                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Cart" class="card-link">
                        <div class="card border-left-primary shadow h-100 py-2" style="border-left-color: #007bff;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Cart <span style="color:#c14b4b">@count</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-shopping-cart fa-2x" style="color: #FF6347;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="Order" asp-action="UserOrders" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2" style="border-left-color: #28a745;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Orders</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-truck fa-2x" style="color: #20c997;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Customer" asp-controller="Favorites" asp-action="FavoriteShop" class="card-link">
                        <div class="card border-left-danger shadow h-100 py-2" style="border-left-color: #dc3545;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Favorite</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-heart fa-2x" style="color: #e83e8c;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="user" asp-controller="Deshboard" asp-action="MyAccount" asp-route-id="@userId" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2" style="border-left-color: #17a2b8;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Account</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x" style="color: #28a745;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

            @if (User.IsInRole("Rider"))
            {

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="RiderDelivary" asp-action="DeliveredOrders" asp-route-id="monthly" class="card-link">
                        <div class="card border-left-primary shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            This Month
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.CurrentMonthTotalRevenue</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="Rider" asp-action="RiderDashboard" class="card-link">
                        <div class="card border-left-success shadow h-100 py-2 ">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Wallet
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">৳ @ViewBag.TotalRevenue</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-bangladeshi-taka-sign fa-2x text-gray-300"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="Index" class="card-link">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Delivary
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.CurrentMonthTotalDeliveries</div>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-300"> This Month</div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <a asp-area="Rider" asp-controller="Rider" asp-action="Index" class="card-link">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Ride Setting
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">My Ride</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-truck fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }


        </div>
        <div>
            @if (User.IsInRole("Rider"))
            {
                <div class="row mb-2 text-right justify-content-end" style="gap: 10px; margin-right:12px">
                    <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="Index" class="nav-link btn  btn-primary">
                        <i class="fa-solid fa-wrench"></i> Manage Delivary
                    </a>
                    <a asp-area="Rider" asp-controller="Rider" asp-action="RequestWithdraw" class="nav-link btn  btn-info">
                        <i class="fa-solid fa-money-bill-transfer"></i>  Withdraw
                    </a>
                    <a asp-area="Rider" asp-controller="Rider" asp-action="EditRider" class="nav-link btn  btn-secondary">
                        <i class="fa-solid fa-pen-to-square"></i> Edit Info
                    </a>
                </div>



                @*     <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Order Overview</h6>
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
            aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Order Map</div>
            <a class="dropdown-item" href="#">By Revenue</a>
            <a class="dropdown-item" href="#"> Delivary</a>

            </div>
            </div>
            </div>
            <div class="card-body">
            <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
            </div>
            </div>
            </div>
            </div> *@



                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Rider Dashboard</h6>
                        </div>
                        <div class="card-body">
                            <h5>Total Revenue: @ViewBag.TotalRevenue</h5>

                            <h6>Monthly Deliveries</h6>
                            <div class="chart-area">
                                <canvas id="riderDeliveriesChart"></canvas>
                            </div>

                            <h6>Monthly Revenue</h6>
                            <div class="chart-area">
                                <canvas id="riderRevenueChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>


            }

            @if (User.IsInRole("Customer"))
            {


            }
            @if (User.IsInRole("Farmer"))
            {

            }




        </div>
    </div>
</div>

<style>
    .card-link {
        text-decoration: none;
        color: inherit;
    }

        .card-link .card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>

@if (User.IsInRole("Rider"))
{
    


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Extract labels and data
        var labels = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (string)p.MonthName)));
        var completedDeliveries = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (int)p.CompletedDeliveries)));
        var earnedRevenue = @Html.Raw(JsonConvert.SerializeObject(((IEnumerable<dynamic>)ViewBag.Performance).Select(p => (decimal)p.EarnedRevenue)));

        // Completed Deliveries Chart
        var ctxDeliveries = document.getElementById("riderDeliveriesChart").getContext("2d");
        var deliveriesChart = new Chart(ctxDeliveries, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Completed Deliveries",
                    data: completedDeliveries,
                    borderColor: "#4e73df",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

        // Earned Revenue Chart
        var ctxRevenue = document.getElementById("riderRevenueChart").getContext("2d");
        var revenueChart = new Chart(ctxRevenue, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Earned Revenue",
                    data: earnedRevenue,
                    borderColor: "#1cc88a",
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            maxRotation: 0,
                            autoSkip: true
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>
}
}