@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>

    .centered-card {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 85vh; 
        
    }

  
    .external-login-buttons a {
        margin-right: 10px;
        margin-bottom: 10px;
    }


    .external-login-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-group-inline {
        display: flex;
        gap: 10px; 
        justify-content: center; 
    }
</style>

<div class="container centered-card">
    <div class="card  text-black" style="width: 28rem; border-radius:10px">
        <div class="card-body  shadow-sm" style=" border-radius:10px">
            <div class="row">
                <div class="col align-items-center" style="margin:5px">

                    <form method="post" >
                        <p class="text-center h4 fw-bold mb-2 mx-1 mx-md-4 mt-2">Sign In</p>
                        <figure>
                            <img src="/img/logo/online-shoping.png" alt="Sign In" style="height:90px; justify-content:center; margin-left:40px; width:auto" class="img-fluid">
                        </figure>


                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="Your Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 position-relative">
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" id="passwordField">
                            <div class="input-group-append">
                                <span class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);" onclick="togglePassword()">
                                    <i class="fas fa-eye" id="togglePasswordIcon"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="text-danger">
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <h4 style="margin-bottom:3px; font-size:14px">@error.ErrorMessage  or Invalid Password / Email</h4>
                                }
                            </div>
                        }

                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <button type="submit" style="border-radius:15px; font-size:18px; font-weight:600" class="btn btn-success mb-4 wide-button w-100">Log in</button>
                        </div>
                        <div class="form-group-inline">
                            <a class="btn btn-default" asp-page="./ForgotPassword">Forgot your password?</a>
                            <a class="btn btn-default" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </div>

                    </form>
                    <div class="text-center mt-4">
                        <h4>Login with Other Services</h4>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div class="mt-4 external-login-buttons">

                                    <a href="#" style="margin-left:7px" class="btn btn-primary"><i class="fa-brands fa-facebook"></i> Facebook</a>

                                </div>
                            }
                            else
                            {
                                <div class="mt-4 external-login-buttons">
                                   
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn btn-danger wide-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"> <i style="margin-left:2px; margin-right:2px" class="fa-brands fa-google"></i>@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>

                                    <a href="#"style="margin-left:7px" class="btn btn-primary"><i class="fa-brands fa-facebook"></i> Facebook</a>

                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function togglePassword() {
        const passwordField = document.getElementById("passwordField");
        const togglePasswordIcon = document.getElementById("togglePasswordIcon");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePasswordIcon.classList.replace("fa-eye", "fa-eye-slash");
        } else {
            passwordField.type = "password";
            togglePasswordIcon.classList.replace("fa-eye-slash", "fa-eye");
        }
    }
</script>
