@model OrganicOption.Models.InventoryItem

@{
    ViewData["Title"] = "Sales Information";
}

<div class="container mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary mb-3"><i class="fa fa-arrow-left"></i> Back</a>
    <div class="row mb-3">
       
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>@ViewData["Title"]</h3>
            <hr>
            <h4>Total Sold Price: @ViewBag.TotalSumPriceSold.ToString("F2") Tk</h4>
        </div>
        <div class="col-md-4 text-right">
            <a asp-action="ShowAllProductsByTime" asp-area="Farmer" asp-controller="Inventory" class="btn btn-info mb-2">All Products</a>
            <a asp-action="ShowSoldProducts" asp-area="Farmer" asp-controller="Inventory" class="btn btn-info mb-2"> Sold Products</a>
        </div>
    </div>

    @if (ViewBag.SalesInfo != null && ViewBag.SalesInfo.Count > 0)
    {
        <div class="table-responsive mb-4">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Product ID</th>
                        <th>Total Product Sold</th>
                        <th>Quantity</th>
                        <th>Total Price </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.SalesInfo)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td>@item.TotalItemsSold</td>
                            <td>@item.TotalQuantitySold</td>
                            <td>@item.TotalPriceSold.ToString("F2") Tk</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4>No sales information available.</h4>
    }

    @if (ViewBag.TotalSoldProduct != null && ViewBag.TotalSoldProduct.Count > 0)
    {
        <div class="row">
            @foreach (var product in ViewBag.TotalSoldProduct)
            {
                <div class="col-md-3 mb-4">
                    <div class="card h-50">
                        <img class="card-img-top" src="~/@product.Image" alt="@product.Name" style="max-height:200px; width:auto; ">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: @product.Price Tk</p>
                            <p class="card-text">Remaining Quantity: @product.Quantity</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <br />
    <h3 class="mt-4 mb-4 text-center justify-content-center"> Unsold Products</h3>
    <hr />
    @if (ViewBag.UnsoldProduct != null && ViewBag.UnsoldProduct.Count > 0)
    {
        <div class="row">
            @foreach (var product in ViewBag.UnsoldProduct)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/@product.Image" alt="@product.Name" style="max-height: 250px;  object-fit: cover; ">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Quantity: @product.Quantity</p>
                            <p class="card-text">Price: @product.Price</p>
                            @{
                                Decimal Price = @product.Price;
                                Decimal Quantity = @product.Quantity;
                                Decimal TotalPrice = Price * Quantity;
                            }
                            <p class="card-text"><strong>Total Price: @TotalPrice</strong></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4>No unsold products available.</h4>
    }
</div>
