@model IEnumerable<OrganicOption.Models.Rider_Section.Delivery>

<br />
<div class="container">

<h4 class="text-center" style="font-size:25px">Delivered Orders - @ViewBag.Period</h4>
<br />

<a class="btn btn-info" asp-area="Rider" asp-controller="RiderDelivery" asp-action="DeliveredOrders" asp-route-period="weekly">Weekly Delivery History</a>
<a class="btn btn-info" asp-area="Rider" asp-controller="RiderDelivery" asp-action="DeliveredOrders" asp-route-period="monthly">Monthly Delivery History</a>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product Details</th>
            <th>Customer Address</th>
            <th>Delivery Address</th>
            <th>Shop Name</th>
            <th>Payable Money</th>
            <th>Delivered Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model)
        {
            <tr>
                <td>@delivery.OrderId</td>
                <td>@delivery.ProductDetails</td>
                <td>@delivery.CustomerAddress</td>
                <td>@delivery.DelivyAddress</td>
                <td>@delivery.ShopName</td>
                <td>@delivery.PayableMoney</td>
                <td>@delivery.OrderDeliveredDate</td>
            </tr>
        }
    </tbody>
</table>

</div>


<style>
    .top-bar {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background: #1cb252;
        color: black;
    }

        .top-bar .nav-item {
            margin-right: 20px;
        }

    .card {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-1px);
        transition: all 0.2s ease;
    }
</style>

