@model OrganicOption.Models.Rider_Section.Delivery

<h2>Delivery Details</h2>

<div>
    <h4>Order ID: @Model.OrderId</h4>
    <p>Product Details: @Model.ProductDetails</p>
    <p>Customer Address: @Model.CustomerAddress</p>
    <p>Delivery Address: @Model.DelivyAddress</p>
    <p>Shop Name: @Model.ShopName</p>
    <p>Shop Contract: @Model.ShopContract</p>
    <p>Payable Money: @Model.PayableMoney</p>
    <h4>Shop Address:</h4>
   @*  <p>
        @Model.ShopAddress.Division, @Model.ShopAddress.District, @Model.ShopAddress.Thana, @Model.ShopAddress.WardNo, @Model.ShopAddress.StreetNo, @Model.ShopAddress.House
    </p> *@
</div>
