@model IEnumerable<OrganicOption.Models.Rider_Section.Delivery>


<div class="container mt-2">
    <a href="javascript:history.back()" class="btn btn-secondary ">
        <i class="fa fa-arrow-left"></i> Back
    </a>

    <h3 class="mb-3" style="margin:5px; font-size:25px; padding:5px; text-align:center">My Delivery </h3>

    <div class="row">
        <div class="col-md-3 col-sm-6 ">
            <a asp-area="Rider" asp-controller="Rider" asp-action="Index" class="card text-center shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <i class="fa fa-truck fa-2x text-info"></i>
                    <h6 class="mt-2">New Delivery</h6>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="RunningDeliveries"  class="card text-center shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <i class="fa fa-spinner fa-2x text-secondary"></i>
                    <h6 class="mt-2">Running Delivery</h6>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <a asp-area="Rider" asp-controller="Rider" asp-action="RiderDashboard" class="card text-center shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <i class="fa fa-wallet fa-2x text-success"></i>
                    <h6 class="mt-2">My Wallet</h6>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <a asp-area="Rider" asp-controller="RiderDelivery" asp-action="DeliveredOrders" asp-route-period="daily" class="card text-center shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <i class="fa fa-history fa-2x text-warning"></i>
                    <h6 class="mt-2">Delivery History</h6>
                </div>
            </a>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order ID</th>
                <th>Product Details</th>
                <th>Customer Address</th>
                <th>Shop Name</th>
                <th>Delivary Condition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in Model)
            {
                <tr>
                    <td>@delivery.Id</td>
                    <td>@delivery.OrderId</td>
                    <td>@delivery.ProductDetails</td>
                    <td>@delivery.DelivyAddress</td>
                    <td>@delivery.ShopName</td>
                    <td>@delivery.OrderCondition</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@delivery.Id" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


<style>
    .card {
        margin-bottom: 7px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 7px;
        border-radius: 8px;
        background: white;
    }

    .top-bar {
        width: 100%;
        background: #1cb252;
        color: black;
        margin-bottom: 20px;
        padding: 10px;
    }

        .top-bar .nav-item {
            margin-right: 20px;
        }

    .card h4 {
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: gray;
        color: white;
        border-radius: 5px;
    }

    .details {
        margin-bottom: 5px;
    }

</style>
