@model IEnumerable<OrganicOption.Models.Rider_Section.Delivery>


<div class="top-bar text-dark text-center">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-list"></i> My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-chart-bar"></i> Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-wallet"></i> Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>

<div class="container">



<h4>Currently Running Deliveries</h4>
<br />
@if (Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product Details</th>
            <th>Customer Address</th>
            <th>Delivery Address</th>
            <th>Shop Name</th>
            <th>Payable Money</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var delivery in Model)
        {
            <tr>
                <td>@delivery.OrderId</td>
                <td>@delivery.ProductDetails</td>
                <td>@delivery.CustomerAddress</td>
                <td>@delivery.DelivyAddress</td>
                <td>@delivery.ShopName</td>
                <td>@delivery.PayableMoney</td>
                <td>
                    <a asp-action="Details" asp-route-id="@delivery.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <h4>No Running Order </h4>
}
</div>

<style>
    .card {
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        border-radius: 8px;
        background: white;
    }

    .top-bar {
        width: 100%;
        background: #1cb252;
        color: black;
        margin-bottom: 20px;
        padding: 10px;
    }

        .top-bar .nav-item {
            margin-right: 20px;
        }

    .card h4 {
        margin: 10px;
        padding: 5px;
        text-align: center;
        background-color: gray;
        color: white;
        border-radius: 5px;
    }
</style>