@model OrganicOption.Models.Rider_Section.Delivery

<h2>Delivery Details</h2>

<div>
    <h4>Order ID: @Model.OrderId</h4>

    <h4>Product Details:</h4>
    <p>@Model.ProductDetails</p>

    <h4>Customer Address:</h4>
    <p>@Model.CustomerAddress</p>

    <h4>Delivery Address:</h4>
    <p>@Model.DelivyAddress</p>

    <h4>Shop Name:</h4>
    <p>@Model.ShopName</p>

    <h4>Shop Address:</h4>

  

    <h4>Shop Contract:</h4>
    <p>@Model.ShopContract</p>

    <h4>Payable Money:</h4>
    <p>@Model.PayableMoney</p>
</div>

<br />
<h3>Go For PickUp Order</h3>
<h3>Go For Delivery</h3>
