@model OnlineShop.Models.ProductDetailViewModelHome
@using Microsoft.AspNetCore.Identity
﻿@using System.Net.Http
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@inject UserManager<IdentityUser> UserManager


@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}

@{
    string userId = UserManager.GetUserId(User);
}


@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();

}

<div class="container">

    <form asp-action="Detail" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="SpecificProduct.Id" />

        <div class="card mt-3 shadow-sm" style="margin:7px; padding:15px; border-radius:10px;">
            <div class="row mt-3">

                <div class="col-lg-6 col-md-6">
                    <div class=" product-images" style="margin:5px">
                        <div id="main-image" class="zoomWrapper text-center justify-content-center">
                            <img id="zoomedImage" src="~/@Model.SpecificProduct.Image" alt="Main Product Image" class="img-fluid" style="width:80%; height:400px;" />
                        </div>
                        <div class="thumbnail-images mt-3 d-flex justify-content-center">
                            <ul class="list-inline">
                                @foreach (var image in Model.SpecificProduct.ImagesSmall)
                                {
                                    <li class="list-inline-item">
                                        <img src="~/@Url.Content(image.ImagePath)" alt="Thumbnail" class="img-thumbnail" style="width:100px; height:100px; cursor:pointer;" onclick="showZoomedImage(this)" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">

                    <div class="card mb-4" style="border-radius: 5px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h3 style="font-size: 25px; ">@Model.ShopName</h3>
                                <div class="d-flex align-items-center">
                                    <h4 class="me-2">Rating: @Model.OverallRatting.ToString("F2")</h4>


                                    @{
                                        double rating = Model.OverallRatting;
                                        int fullStars = (int)rating;
                                        double halfStarThreshold = rating - fullStars;
                                        int emptyStars = 5 - fullStars - (halfStarThreshold >= 0.5 ? 1 : 0);

                                        for (int i = 0; i < fullStars; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }

                                        if (halfStarThreshold >= 0.5)
                                        {
                                            <i class="fa fa-star-half-o text-warning"></i>
                                        }

                                        for (int i = 0; i < emptyStars; i++)
                                        {
                                            <i class="fa fa-star-o text-warning"></i>
                                        }
                                    }
                                </div>

                            </div>
                            <a class="btn btn-primary" style="width:200px" href="@Url.Action("Shop", "FarmerShop", new { area = "Farmer", shopId = @Model.SpecificProduct.FarmerShopId })">Visit Shop</a>
                        </div>
                    </div>


                    <h1 style="font-size:25px; margin-bottom:5px">@Model.SpecificProduct.Name</h1>
                    <div class="price-box mt-3">
                        @if (Model.SpecificProduct.Discount > 0)
                        {
                            decimal discountPercentage = @Model.SpecificProduct.Discount;
                            decimal currentPrice = @Model.SpecificProduct.Price;
                            decimal disPrice = currentPrice * discountPercentage / 100;
                            decimal totalNewPrice = currentPrice - disPrice;

                            <span class="current-price text-info">New Price: @totalNewPrice ৳‎</span>
                            <br />
                            <span class="old-price text-muted">Old Price: @Model.SpecificProduct.Price ৳‎</span>
                        }
                        else
                        {
                            <span class="current-price text-info">Price: @Model.SpecificProduct.Price ৳‎</span>
                        }
                    </div>

                    <div class="availability mt-3">
                        @if (@Model.SpecificProduct.IsAvailable && @Model.SpecificProduct.Quantity > 0)
                        {
                            <span class="badge bg-warning">In Stock</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Out of Stock</span>
                        }
                    </div>

                    <hr />
                    <div class="product_desc mt-2">
                        <h5>@Model.SpecificProduct.Description eget velit. Donec ac tempus ante.  sed commodo augue nisi non neque.</h5>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</h5>
                            </div>
                        </div>
                    </div>

                    <div class="product_variant quantity">
                        <h4> Preservation Need? :@(Model.SpecificProduct.PreservationRequired ? "Yes" : "No") </h4>
                    </div>
                    <h4>Category : @Model.SpecificProduct.ProductTypes.ProductType </h4>
                    <div class="product_variant quantity">
                        <h4>Quantity :@Model.SpecificProduct.Quantity  @Model.SpecificProduct.QuantityType</h4>
                    </div>

                    <div class="action_links">
                        <ul>
                            @if (Model.SpecificProduct.Quantity != 0)
                            {
                                if (Model.IsShopOpen)
                                {
                                    var existingProduct = products.FirstOrDefault(p => p.Id == Model.SpecificProduct.Id);
                                    if (existingProduct != null)
                                    {
                                        <li>
                                            <button type="submit" class="btn btn-danger form-control" asp-action="RemoveToCart" asp-route-id="@Model.SpecificProduct.Id" style="width:200px">Remove from Cart</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="d-flex text-center" style="font-weight:600">
                                            <input asp-for="SpecificProduct.QuantityInCart" name="quantityInCart" class="form-control" style="width:200px" type="number" min="1" max="@Model.SpecificProduct.Quantity" value="1" />

                                            <input type="submit" class="btn btn-danger form-control " style="width:200px; margin-left:20px" value="Add To Cart" />
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="text-danger">
                                        <h4>  Shop is closed. Contact the shop or try later.</h4>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="text-center d-flex mt-3">
                            <ul>
                                <li><a class="facebook" style="width:70px;" href="#" title="facebook"><i class="fa fa-facebook"></i> Like</a></li>
                                <li><a class="twitter" style="width:70px" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a></li>
                                <li><a class="pinterest" style="width:70px" href="#" title="pinterest"><i class="fa fa-pinterest"></i> save</a></li>
                                <li><a class="google-plus" style="width:70px" href="#" title="google +"><i class="fa fa-google-plus"></i> share</a></li>
                                <li><a class="linkedin" style="width:70px" href="#" title="linkedin"><i class="fa fa-linkedin"></i> linked</a></li>
                            </ul>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <br />
        <a asp-action="Index" class="btn btn-success">Back to Home</a>

        <div class="container mt-2">

            <div class="row">

                <div class="col-5 col-md-6">

                    <h3 class="mb-2 mt-2 " style="background:gray; font-size:20px; text-align:center; margin:5px">Distance-Based Charges</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Distance (km)</th>
                                <th>Base Delivery Charge (BDT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0-5</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>5-10</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>10-20</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>20-50</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>50+</td>
                                <td>300</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


                <div class="col-7 col-md-6">
                    <h3 class="mb-2 mt-2 " style="background:gray;font-size:20px; text-align:center; margin:5px">Product-Based Charges</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product Type</th>
                                <th>Quantity Range</th>
                                <th>Additional Charge (BDT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cattle</td>
                                <td>Per cattle</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td rowspan="5">Crops</td>
                                <td>10-50 kg</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>50-100 kg</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>100-500 kg</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>500-1000 kg</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>1000+ kg</td>
                                <td>600</td>
                            </tr>

                            <tr>
                                <td rowspan="5">Liquid</td>
                                <td>10-50 liters</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>50-100 liters</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>100-500 liters</td>
                                <td>300</td>
                            </tr>

                            <tr>
                                <td>500-1000 liters</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <td>1000+ liters</td>
                                <td>800</td>
                            </tr>

                        </tbody>
                    </table>

                </div>


            </div>

        </div>

    </form>
</div>


<script>
    function showZoomedImage(imgElement) {
        const mainImage = document.getElementById('zoomedImage');
        mainImage.src = imgElement.src;
    }
</script>

<style>
    .product-details h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .price-box .current-price {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .price-box .old-price {
        text-decoration: line-through;
    }

    .availability .badge {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .action-buttons .btn {
        margin-right: 10px;
    }

    .product-meta {
        font-size: 1rem;
    }



    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>




<!--product details end-->
<!--product area start-->
<section class="product_area related_products mb-47">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Related Products</h2>
                </div>
                <div class="product_carousel product_column4 owl-carousel">

                    @foreach (var product in Model.RelatedProducts)
                    {

                        <div class="single_product">
                            <div class="product_thumb">
                                <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id"><img src="~/@product.Image" alt="Releted Image" style="height:250px; width:80%"></a>
                                <div class="label_product">
                                    <span class="label_sale">sale</span>
                                </div>

                            </div>
                            <div class="product_content">
                                <div class="product_name">
                                    <h3><a href="product-details.html">@product.Name</a></h3>
                                </div>

                                <div class="price_box">
                                    <span class="current_price">@product.Price ৳</span>

                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="add_to_cart"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> Buy Now</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!--product area end-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


